@import '../colors.scss';

.ysanne-photo-wrapper{
    img{
        height: 500px;
        border-radius: 14px;
    }
}


.about-me-title{
    font-size: 140px;
    color: $orange1;
}

.name-header {
    font-size: 80px;
    &.mobile{
        text-align: center;
        padding-bottom: 20px;
    }
}
.about-me-content-one-wrapper{
    .about-me-content{
        font-family: "Nunito", sans-serif;
        font-weight: 200;
        font-size: 20px;
        padding-bottom: 20px;
    }
}

.wake-surf-photo-wrapper{
    img{
        height: 400px;
        border-radius: 14px;
    }
}

.first-day-photo-wrapper{
    img{
        height: 500px;
        border-radius: 14px;
    }
}
.photo-caption{
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 12;
    padding-top: 8px;
}