@import './colors.scss';

* {
  margin: 0;
  padding: 0;
}
html {
  background-color: $light-gray-3;
}

body{
  background-image: url(../images/background-bricks-light.svg);
  // background-image: url(../images/background-bricks-dark.svg);
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
}