@import './colors.scss';

.page-container {
  display: block;
  //height: 1600px;
  width: 100%;
}

.profile-photo {
  display: flex;
  justify-content: flex-end;
  img {
    height: 500px;
    border-radius: 15px;
  }
}
.title-section {
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 100px;
  min-width: 180px;
  h1{
    padding-top: 80px;
    font-size: 70px;
    font-family: "Nunito", sans-serif;
  }
  p{
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 20px;
    max-width: 500px;
    padding-top: 12px;
  }
}

.side-profile{
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  img{
    height: 350px;
    border-radius: 15px;
  }
}

.about-me{
  font-size: 20px;
  padding-top: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  .personal-blurb{
    padding-bottom: 20px;
  }
}

.subtitle{
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  color: $orange1;
}

.social-media-section{
  display: flex;
  justify-content: center;
  //align-items: center;
  background-color: $gray5-transparent;
  height: 120px;
  color: $light-gray-3;
  li{
    list-style-type: none;
    padding: 16px 16px;
  }
  ul{
    display: flex;
    margin: 0;
    flex-direction: row;
  }
}