@import './colors.scss';
.navbar {
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  justify-content: flex-end;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 24px;

  li {
    list-style-type: none;
  }
  a {
    display: block;
    color: $gray6;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
    &:hover {
      //background-color: black;
      color: $orange1;
      transition: 0.5s;
    }
  }

  & > ul {
    display: flex;
    margin: 0;
    &.nav-content-box {
      justify-content: flex-start;
    }
  }
}

.fa {
  border-radius: 50%;
}

.social-media-container {
  display: block;
}
