.navbar {
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  background-color: grey;
}

.nav-content-box {
  display: flex;
  margin: 0;
  width: 50%;
  justify-content: flex-start;
}

.nav-icons-box {
  display: flex;
  margin: 0;
  width: 50%;
  justify-content: flex-end;
}

.container li {
  list-style-type: none;
}
.container a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container a:hover {
  background-color: black;
  transition: background 1s;
}

.fa {
  border-radius: 50%;
}

.social-media-container {
  display: block;
}
